body {
	margin: 10px;
}

h1 {
	font-family: sans-serif;
}

.placeholder {
	margin: 10px;
	background-color: gray;
	border: black solid 1px;
	height: 100px;
}

.header {
	overflow: none;
	width: auto;	
}

.maincolumn {
	width: 60%;
	height: 300px;
	float: left;
}

.sidebar {
	width: 35%;
	height: 300px;
	float: right;
}

.footer {
	overflow: none;
	width: auto;
	clear: both;
}
